# Java / Gradle
backend/build/
backend/.gradle/
backend/application.properties
backend/out
*.class

# Node
frontend/node_modules/
frontend/dist/

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
frontend/*.tsbuildinfo

# stray vite cache
**/.vite/
